<div class="container">
  <h1 class="mt-5" i18n>Cadastrar produto</h1>

  <form [formGroup]="form" (ngSubmit)="onSave()">
    <div class="row mb-3">
      <div class="col-12">
        <mat-form-field appearance="outline">
          <mat-label i18n>Nome</mat-label>
          <input matInput formControlName="name" />
          <mat-error i18n>O campo Nome é obrigatório</mat-error>
        </mat-form-field>
      </div>
    </div>

    <div class="row mb-3">
      <div class="col-12">
        <mat-form-field appearance="outline">
          <mat-label i18n>Descrição</mat-label>
          <input matInput formControlName="description" />
          <mat-error i18n>O campo Descrição é obrigatório</mat-error>
        </mat-form-field>
      </div>
    </div>

    <div class="row mb-3">
      <div class="col-12">
        <mat-form-field appearance="outline">
          <mat-label i18n>Preço</mat-label>
          <input matInput formControlName="price" />
          <mat-error>O campo Preço é obrigatório</mat-error>
        </mat-form-field>
      </div>
    </div>

    <div class="row mb-3">
      <div class="col-12">
        <mat-form-field appearance="outline">
          <mat-label i18n>Quantidade</mat-label>
          <input matInput formControlName="qty" />
          <mat-error>O campo Quantidade é obrigatório</mat-error>
        </mat-form-field>
      </div>
    </div>

    <div class="row mb-3">
      <div class="col-12">
        <mat-form-field appearance="outline">
          <mat-label i18n>Imagem</mat-label>
          <input matInput formControlName="image" />
          <mat-error>O campo Imagem é obrigatório</mat-error>
        </mat-form-field>
      </div>
    </div>

    <div class="row mb-3">
      <div class="col-12">
        <button mat-flat-button color="primary" [disabled]="form.invalid" i18n>
          Salvar
        </button>
      </div>
    </div>
  </form>
</div>
