<mat-toolbar>
  <span>Products Crud</span>
  <span class="spacer"></span>

  <!-- @for (item of filteredMenu; track $index) {
  <button
    mat-button
    aria-label="Botão Cadastrar produto"
    [routerLink]="item.link"
    (click)="item.action ? item.action() : null"
  >
    {{ item.title }}
  </button>
  } -->

  @if (authService.checkAuthStatus() | async) {
  <button
    mat-button
    aria-label="Botão Cadastrar produto"
    routerLink="/products/create"
    i18n
  >
    Cadastrar
  </button>
  <button
    class="me-5"
    mat-button
    aria-label="Botão listar produtos"
    routerLink="/products"
    i18n
  >
    Produtos
  </button>

  <button
    mat-flat-button
    aria-label="Botão login"
    color="primary"
    (click)="authService.logout()"
    i18n
  >
    Sair
  </button>
  } @else {
  <button
    mat-flat-button
    aria-label="Botão login"
    color="primary"
    routerLink="/auth/login"
    i18n
  >
    Entrar
  </button>
  }
</mat-toolbar>
