<div class="container">
  <h1 class="mt-5 text-center">Login</h1>
  <form class="mx-auto" [formGroup]="form" (ngSubmit)="login()">
    <div class="row mb-3">
      <div class="col-md-4 offset-md-4">
        <mat-form-field appearance="outline">
          <mat-label>E-mail</mat-label>
          <input matInput formControlName="email" />
          <mat-error>Um e-mail válido precisa ser informado</mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-md-4 offset-md-4">
        <mat-form-field appearance="outline">
          <mat-label>Senha</mat-label>
          <input type="password" matInput formControlName="password" />
        </mat-form-field>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-md-4 offset-md-4 d-flex justify-content-between">
        <button mat-flat-button color="primary" [disabled]="form.invalid">
          Salvar
        </button>
        <button mat-button routerLink="/auth/register">Cadastrar-se</button>
      </div>
    </div>
  </form>
</div>
